body {
	width: 100%;
	height: 100%;
	background: black
}

.background {
	width: 1250px;
	margin: 0 auto;
	background: url(../images/background2.jpg) no-repeat 0px 150px;
	background-size: contain;
}
.intro {
	margin-top: 10px;
	background: url(../images/marquee.png);
	background-size: contain;
	width: 1250px;
	height: 205px;
	box-shadow: 0 0 40px white;
}
.intro h1, h3 {
	font-weight: bolder;
	text-shadow: 1px 1px 2px white;
}
.intro h1 {
	padding-top: 32px;
	font-size: 50px;
	text-align: center;
	text-shadow: 1px 1px 2px white;
}
.intro h3 {
	padding-top: 15px;
	font-size: 20px;
	text-align: center;
}
.input-area {
	margin: 10px auto;
	width: 350px;
}
.input-box, .enter {
	font-size: 20px;
}
.enter {
	border-radius: 20px;
	box-shadow: 0px 0px 40px purple;
}
.now-showing {
	width: 150px;
	margin: 0 auto;
	background: #D4AF37;
	text-align: center;
	text-shadow: 1px 1px 40px white;
	font-weight: bold;
	border: 2px solid black;
}
.poster-result-area {
	margin: 8px auto;
	width: 500px;
	height: 700px;
	background-size: contain;	
}
.poster {
	border: 1px white solid;
	width: 500px;
	height: 700px;
	box-shadow: 1px 1px 40px white;
}
.info-result-area {
	margin: 0 auto;
	display: none;
	border: 1px solid blue;
	width: 200px;
	height: 85px;
	background-color: black;
	color: white;
	font-size: 15px;
	font-family: "times new roman";
	box-shadow: 1px 1px 40px blue;
	text-align: justify;
}
.info-result-area p {
	padding: 4px 0 0 4px;
}

@media only screen and (max-width: 1350px) {
	.background {
		width: 1000px;
		height: 800px;
	}
	.intro {
		width: 1000px;
		height: 150px;
	}
	.intro h1 {
		font-size: 45px;
	}
	.intro h3 {
		padding: 8px;
	}
	.poster-result-area {
		width: 400px;
		height: 700px;
	}
	.poster {
		width: 400px;
		height: 550px;
	}
	.info-result-area {
		margin: -400px 750px;
	}
	.input-area {
		width: 261px;
	}
	.input-box, .enter {
		font-size: 15px;
	}

}